:root{
  --teamRed: linear-gradient(-45deg, #ea6069, #f86670);
  --teamGreen: linear-gradient(-45deg, #66f87e, #68ff9f);
  --teamBlue: linear-gradient(-45deg, #66b6f8, #68a6ff);
  --teamYellow: linear-gradient(-45deg, #f8f866, #fffa68);
  --teamCyan: linear-gradient(-45deg, #66f8f8, #68ffff);
  --teamPurple: linear-gradient(-45deg, #c387ff, #d287ff);
  --teamOrange: linear-gradient(-45deg, #f8b766, #ffba68);
  --teamNone: rgb(255,255,255);
}

.bg-team-red{
  background: var(--teamRed);
}
.bg-team-green{
  background: var(--teamGreen);
}
.bg-team-blue{
  background: var(--teamBlue);
}
.bg-team-yellow{
  background: var(--teamYellow);
}
.bg-team-cyan{
  background: var(--teamCyan);
}
.bg-team-purple{
  background: var(--teamPurple);
}
.bg-team-orange{
  background: var(--teamOrange);
}
.bg-team-none{
  background: var(--teamNone);
}

.team-card h2, 
.team-card h4 {
  color: white;
  text-shadow: 0px 0px 5px black;
}

.hidden{
  display: none;
}

.rainbow{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 120s ease infinite;
}

.centered{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}